body {
    color: hotpink;
    background-color: blue;
    font-family: 'Courier New', Courier, monospace;
}


.first-paragraph{
        backgound: red;
}

.fun-shape{
    width:100px;
    height:100px;
    background-color:red;
    position:absolute;
{
